*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

thead{
background-color: azure;
height: 30px;
}

tr,td{
    margin: 5px;

  border-bottom: 2px solid white;
 color: white;
 border-collapse: collapse;
 text-align: center;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #0c4949;
    color: aliceblue;
  }
th{
    color: black;
    margin-bottom: 10px;
}

.marks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

ul{
    list-style: none;
    
}

.main:hover{ 
    background-color: brown;
    cursor: pointer;

}

th:hover{
    background-color: yellowgreen
}

li{
    margin: 5px;
}
li:hover{
    background-color: blueviolet
}
